node-red-flow/flows.json
[{"id":"ce8c55da.5069d8","type":"tab","label":"Paul Demo","disabled":false,"info":""},{"id":"cb0fc5ee.bfad3","type":"inject","z":"ce8c55da.5069d8","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"600","crontab":"","once":false,"x":190,"y":180,"wires":[["c203d49e.709e1"]]},{"id":"95e43de0.b332f","type":"debug","z":"ce8c55da.5069d8","name":"Output","active":true,"console":"false","complete":"payload","x":840,"y":180,"wires":[]},{"id":"c203d49e.709e1","type":"http request","z":"ce8c55da.5069d8","name":"","method":"GET","ret":"obj","url":"http://1b81a6b9.ngrok.io/openntf-demo/scheduledXotsDemo.nsf/SchedArchive.xsp","tls":"","x":480,"y":200,"wires":[["95e43de0.b332f"]]},{"id":"1bd7c246.bf4c06","type":"http in","z":"ce8c55da.5069d8","name":"","url":"/api/xpagescallback","method":"get","upload":false,"swaggerDoc":"","x":260,"y":320,"wires":[["56599c8f.213ab4"]]},{"id":"ae81c9a9.a1f5e","type":"inject","z":"ce8c55da.5069d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":160.49998474121094,"y":80,"wires":[["48050c6e.237004"]]},{"id":"48050c6e.237004","type":"http request","z":"ce8c55da.5069d8","name":"","method":"GET","ret":"obj","url":"http://1b81a6b9.ngrok.io/openntf-demo/scheduledXotsDemo.nsf/xsp/.xrest/xrestArchive","tls":"","x":398.90000915527344,"y":78.59999084472656,"wires":[["95e43de0.b332f"]]},{"id":"562253d6.95d764","type":"inject","z":"ce8c55da.5069d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":163.49998474121094,"y":261.99998474121094,"wires":[["65d153bf.a892e4"]]},{"id":"961a2dd9.a3646","type":"http request","z":"ce8c55da.5069d8","name":"","method":"DELETE","ret":"obj","url":"http://7bf71eb5.ngrok.io/scheduled-xots-demo/doChain","tls":"","x":530,"y":260,"wires":[["95e43de0.b332f"]]},{"id":"65d153bf.a892e4","type":"function","z":"ce8c55da.5069d8","name":"setHeaders","func":"msg.headers = {};\nmsg.headers.appId = '1ugqjbq988301lb7t2oh2fsgg6';\nmsg.headers.appSecret = 'pianfreuhe0u4ato38mfiibeng';\nmsg.headers.redirectUrl = 'http://90d3c9bd.ngrok.io/api/xpagescallback'\nreturn msg;","outputs":1,"noerr":0,"x":346.49998474121094,"y":267.1999969482422,"wires":[["961a2dd9.a3646"]]},{"id":"56599c8f.213ab4","type":"http request","z":"ce8c55da.5069d8","name":"","method":"GET","ret":"obj","url":"http://7bf71eb5.ngrok.io/openntf-demo/scheduledXotsDemo.nsf/genericXAgent.xsp?process=loadData&userCount=800","tls":"","x":494.49998474121094,"y":319.1999969482422,"wires":[["95e43de0.b332f"]]}]